* {
    max-width: 1200px;
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    background-color: white;
}

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: lightblue;
    color: black;
}

nav ul li {
    display: inline-flex;
    list-style: none;
    padding-left: 20px;
}

.navigation a {
    color: black;
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
 }

main {
    display: flex;
    flex-direction: column;
    margin: 5%;
    color: black;
}

h2 {
    background-color: lightblue;
}

#school-work-hobbies {
   padding-left: 70px;
}

.image img {
    background-position: bottom center;
    border: 2px solid black;
    display: inline-block;
    column-count: 2;
    align-items: center;
    margin-top: 4px;
    padding: 30px auto;
    height: 200px;
    width: 350px;
}   

.top-image img:hover {
    border-color:lightblue;
}

img:hover {
    border-color:lightblue;
}

.top-image img{
    background-position: bottom center;
    border: 2px solid black;
    display: inline-block;
    column-count: 2;
    align-items: center;
    margin-top: 4px;
    height: 400px;
    width: 704px;    
}

#contact-me ul li {
    display: inline-flex;
    list-style: none;
    padding: 10px 40px;
}

#contact-me ul li a {
    color: black;
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: lightblue;
    color: black;
    font-size: 18px;
    padding: 2%;
}

footer a {
    color: black;
}

@media screen and (max-width: 992px) {
    main, nav {
      display: flex;
      flex-direction: column;
    }
    header, h2, footer {
        background: coral;
    }
    .image:hover {
        border-color: coral;
    }
    #school-work-hobbies {
        padding-left: 0px;
    }
  }

@media screen and (max-width: 768px) {
    main, nav {
      flex-direction: column;
      align-content: center;
    }
    header, h2, footer {
      background: lightgray;
    }
    .image:hover {
      border-color: lightgray;
    }
    .top-image img {
        height: 200px;
        width: 350px;
    }
    #school-work-hobbies {
        padding-left: 0px;
    }
}

@media screen and (max-width: 576px) {
    main, nav {
        display: flex;
        flex-direction: column;
    }
    header, h2, footer {
      background-color: lightgreen;
    }
    .image:hover {
        border-color: lightgreen;
    }
    .top-image img {
        height: 200px;
        width: 350px;
    }
  }